@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Iceberg&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Iceland&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: black;
    color: white;
}

/*body {
  font-family: 'Iceland', display;
}
body {
  font-family: 'Iceberg', display;
}
body {
  font-family: 'Gugi', display;
}
body {
  font-family: 'Poppins', sans-serif;
}*/
.iconeHeader {
    position: fixed;
    z-index: 10000;
    height: 300px;
    rotate: -10deg;
    top: -70px;
    transition: 0.5s;
    left: -100px;
}
.iconeHeader:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.background1 {
    background-image: url('https://wallpaperaccess.com/full/1536515.jpg');
    background-size: cover;
    height: 90vh;
    width: 80%;
    margin: 0 0 0 auto;
}

.background1 {
    transition: background-image 2s ease-in-out;
  }
  
.backOpacity1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(78.72deg, #000000 24.7%, rgba(0, 0, 0, 0) 101.61%);
    mix-blend-mode: multiply;
}

.Card1:hover {
    transition: 0.5s;
    cursor: default;
}
.Card1 h1, .Card1 p, .Card1 button{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    background: linear-gradient(178.89deg, rgba(20, 19, 19, 0.52) 74.02%, rgba(14, 13, 13, 0) 103.81%);
    border-radius: 20px;
    z-index: 3;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 10px;
    right: 70%;
    
}
.Card1 h1 {
    top: 16%;
    font-family: 'Poppins', sans-serif;
    color: rgba(168, 31, 31, 0.822);
    z-index: 100;
    text-shadow: #3a3535 0px 1px 1px;
    font-weight: bold;
}
.Card1 h1:hover {
    transition: 0.5s;
    animation: rgb 4s infinite linear;
}
@keyframes rgb {
    0% {
        color: rgba(255, 0, 0, 0.822);
    }
    25% {
        color: rgba(255, 60, 0, 0.822);
    }
    50% {
        color: rgba(255, 102, 0, 0.822);
    }
    75% {
        color: rgba(255, 0, 34, 0.822);
    }
    100% {
        color: rgba(255, 0, 0, 0.822);
    }
}
.Card1 p {
    text-align: center;
    font-family: 'Iceberg', display;
}

.Card1 button {
    top: 80%;
    font-family: 'Poppins', sans-serif;
    color: rgba(248, 248, 248, 0.822);
    z-index: 100;
    background-color: #d42b2b;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    left: 100px;
    border: none;
}
.Card1 button:hover {
    background-color: #ff0000;
    transition: 0.5s;
    cursor: pointer;
}

.hr1 {
    border: 1px solid white;
    margin: 0 auto;
}
.imgIcon img {
    box-sizing: border-box;
    position: fixed;
    right: 1.87%;
    top: 0.92%;
    bottom: 98.38%;
    border: 4px solid #FFFFFF;
    height: 70px;
    border-radius: 100%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.64));
    z-index: 100;
}
.imgIcon img:hover {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.64));
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}
.iconsHud img{
    height: 60%;
    width: 60%;
    margin: 0 auto;
    display: block;
}



.button {
    background-color: rgba(63, 45, 45, 0.171);
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    left: 90%;
    top: 50%;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin: 0 0 0 auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
    border: none;
    transition: 1s ease;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.699);
    
  }
  .Carousel .CarouselImg img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    position: relative;
    align-content: center;
    display: block;
    margin: auto;
    margin-top: 8%;
    border: 3px solid rgba(151, 18, 62, 0.253);
    bottom: 30px;
    transition: s ease;
    border-radius: 10px;
  }
  .bg-image {
    
    background-size: cover;
    position: relative;
    height: 100%;
    margin: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    border: 1px solid rgb(0, 0, 0);
    
  }
  
  .bg-image {
    transition: background-image 1s ease-in-out;
  }
  #image {
    transition: src 1s ease-in-out;
  }  

  .button2 {
    background-color: rgba(63, 45, 45, 0.171);
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    left: 1%;
    top:32.5%;
    rotate: 180deg;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin: 0 0 0 auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
    border: none;
  }
  
  .button2:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.699);
    
  }
  .button:active, .button2:active {
    background-color: #fa0202;
    transition: 0.5s;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .mapss {
    position: absolute;
    margin-left: 30%;
  }
  h3 {
    font-family: 'Gugi', display;
   
    font-size: 30px;
    display: flex;

  }

  .mapss img{
    height: 250px;
    display: flex;
    margin-top: -100px;
    align-items: center;
    justify-content: center;
    
  }
  

  .pImg img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .pImg img:hover {
    transition: 0.5s;
    opacity: 70%;
  }
  .textImg1 {
    background: linear-gradient(271.47deg, #151313 1.31%, rgba(21, 19, 19, 0) 113.2%);
    width: 800px;
    height: 400px;
    border-radius: 10px;
    position: relative;
  }
  .sImg img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
  }
  .containerImg {
    display: flex;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    padding: 0px;
  }
  .textImg2 {
    background: linear-gradient(271.47deg, #151313 1.31%, rgba(21, 19, 19, 0) 113.2%);
    width: 800px;
    height: 400px;
    border-radius: px;
    position: relative;
    text-align: end;
  }
  .textImg2 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    
    position: relative;
    top: -25px;
  }
  .sImg img:hover {
    transition: 1s;
    opacity: 70%;
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  .containerImg {
    
    /* Add the animation */
    animation: slideInFromLeft 1s ease-out forwards;
  
    /* Set the initial state of the element */
    transform: translateX(-100%);
    position: relative;
    top: 300px;
  }
  
  .tImg img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .tImg img:hover {
    transition: 0.5s;
    opacity: 70%;
  }
  .textImg3 {
    background: linear-gradient(271.47deg, #151313 1.31%, rgba(21, 19, 19, 0) 113.2%);
    width: 800px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    
  }
  .qImg img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
  }
  .textImg4 {
    background: linear-gradient(271.47deg, #151313 1.31%, rgba(21, 19, 19, 0) 113.2%);
    width: 800px;
    height: 400px;
    border-radius: px;
    position: relative;
    text-align: end;
    border-radius: 10px;
  }
  .textImg4 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: relative;
    top: -25px;
  }
  .qImg img:hover {
    transition: 1s;
    opacity: 70%;
  }
  .enemyes img {
    height: 100px;
    bottom: -570px;
    position: relative;
    left: 35%;
  }
  .enemyes h4 {
    position: relative;
    bottom: -500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gugi', display;
    font-weight: lighter;
    font-size: 30px;
  }	

  .zombie1 {
    position: relative;
    bottom: -700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .zombie img {
    height: 500px;
    position: absolute;
    top: -0px;
    left: 700px;
    transition: 1s ease-in-out;
  }
  .zombie img:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }
  .cardZb {
    width: 1000px;
    height: 500px;
    display: block;
    margin-left: -302px;
    background: linear-gradient(270.13deg, #000000 9.25%, #0D0B0B 99.9%);
  }
.bolinha1 img {
    position: absolute;
    top: -200px;
    left: 500px;
}
.cardZb p {
    width: 300px;
    position: relative;
    right: -100px;
    top: 100px;
    font-family: 'Iceberg', display;
    font-size: 22px;
    color: #ffffff96;
}
.cardZb h6 {
    position: relative;
    right: -100px;
    top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.cardZb {
width: 1000px;
height: 500px;
display: block;
margin-left: -302px;
background: linear-gradient(270.13deg, #000000 9.25%, #0D0B0B 99.9%);
  }
.bolinha1 img {
    position: absolute;
    top: -200px;
    left: 500px;
}
.cardZb p {
    width: 300px;
    position: relative;
    right: -100px;
    top: 100px;
    font-family: 'Iceberg', display;
    font-size: 22px;
    color: #ffffff96;
}
.cardZb h6 {
    position: relative;
    right: 300px;
    top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}


.cardZb2 {
    position: relative;
    width: 1000px;
    height: 500px;
    top: 800px;
    right: -300px;

background: linear-gradient(89.09deg, #000000 5.91%, #0D0B0B 99.3%);
}
.cardZb2 p {
    width: 400px;
    position: relative;
    right: -500px;
    top: 120px;
    font-family: 'Iceberg', display;
    font-size: 22px;
    color: #ffffff96;
}
.cardZb2 h6 {
    position: absolute;
    right: 300px;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.hunter img {
    height: 300px;
    position: absolute;
    transition: 1s ease-in-out;
    right: 550px;
    bottom: -4900px;
  }
  .hunter img:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }

  .bolinha2 img {
    position: relative;
    top: 200px;
    left: 400px;
}

.zombie3 {
    position: relative;
    bottom: -400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .cardZb3 {
    width: 1000px;
    height: 500px;
    display: block;
    background: linear-gradient(270.13deg, #000000 9.25%, #0D0B0B 99.9%);
  }

  .smoker img {
    height: 500px;
    position: absolute;
    top: 40px;
    left: 500px;
    transition: 1s ease-in-out;
  }
  .smoker img:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }

  .cardZb3 p {
    width: 400px;
    position: relative;
    right: -100px;
    top: 100px;
    font-family: 'Iceberg', display;
    font-size: 22px;
    color: #ffffff96;
}
.cardZb3 h6 {
    position: relative;
    right: 200px;
    top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.bolinha3 {
    position: relative;
    top: -180px;
    left: -300px;
}



.zombie4 {
    position: relative;
    bottom: -400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .cardZb4 {
    position: relative;
    width: 1000px;
    height: 500px;
    right: -150px;
    background: linear-gradient(89.09deg, #000000 5.91%, #0D0B0B 99.3%);
    top: 100px;
}

.charger img {
    height: 500px;
    position: absolute;
    top: 120px;
    left: 300px;
    transition: 1s ease-in-out;
  }
  .charger img:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }

  .cardZb4 p {
    width: 400px;
    position: relative;
    right: -450px;
    top: 120px;
    font-family: 'Iceberg', display;
    font-size: 22px;
    color: #ffffff96;
}
.cardZb4 h6 {
    position: absolute;
    right: 300px;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.bolinha4 img {
    position: absolute;
    top: -100px;
    left: 300px;
}

.zombie5 {
    position: relative;
    bottom: -600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .cardZb5 {
    width: 1000px;
    height: 500px;
    display: block;
    background: linear-gradient(270.13deg, #000000 9.25%, #0D0B0B 99.9%);
  }
  .tank img {
    height: 500px;
    position: absolute;
    top: 40px;
    left: 600px;
    transition: 1s ease-in-out;
  }
  .tank img:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }
  .cardZb5 p {
    width: 400px;
    position: relative;
    right: -100px;
    top: 100px;
    font-family: 'Iceberg', display;
    font-size: 22px;
    color: #ffffff96;
}
.cardZb5 h6 {
    color: rgba(201, 17, 17, 0.829);
    position: relative;
    right: 200px;
    top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.bolinha5 {
    position: relative;
    top: -180px;
    left: -400px;
}
h6 {
    position: relative;
    top: 700px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
}
.pzi {
    position: relative;
    top: 700px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #3a3535;
}
.print {
    position: relative;
    top: 700px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #3a3535;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.print:hover {
    transition: 1s ease-in-out;
    transform: scale(0.95);
}
.footer {
    font-family: 'Poppins', sans-serif;
    bottom: -900px;
    width: 100%;
    position: relative;
    height: auto;
    background-color: rgba(11, 11, 14, 0.842);
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgb(0, 174, 255);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
  }
  .clearfix {
    clear: both;
  }
  
  .foot {
    border-top: 1px solid #e2e2e2;
  }